/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body{
    font-family: 'Bree Serif', serif;
}

#testoAlternato{
    border: 2px solid gray;
    padding: 15px;
    font-size: 1.5em;
    position: relative;
}

span i{
    color: #6B879C;
    position: absolute;
}

#first{
    animation: cascade1 3s ease-in-out infinite;
}

#second{
    animation: cascade2 3s ease-in-out infinite;
    opacity: 0;
    animation-delay: 1s;
}

#third{
    animation: cascade3 3s ease-in-out infinite;
    opacity: 0;
    animation-delay: 2s;
}

@keyframes cascade1 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    50%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes cascade2 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    50%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes cascade3 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    50%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}