#logo, #avatar{
    height: 3rem;
}

nav select option{
    background-color: rgb(31, 31, 31);
}

nav select option:hover{
    background-color: whitesmoke;
    color: rgb(31, 31, 31);
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 1rem;
}

.section-drop{
    display: none;
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 760px){
    .section-drop{
        display: inline;
    }

    nav ul, .kids, i.fa-bell{
        display: none;
    }
}