.check {
    display: flex;
    align-items: center;
}

#check{
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid rgba(172, 172, 172, 0.555);
    cursor: pointer;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#check::after{
    content: "\2713";
    color: rgba(206, 206, 206, 0.822);
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#check:checked::after{
    display: none;
}

.hover-btn{
    transition: all 250ms;
    letter-spacing: 2px;
    border-radius: 2px;
}

.hover-btn:hover{
    background-color: white !important;
    color: black !important;
}

.last-btn:hover{
    letter-spacing: 5px;
}

.prof-pic{
    bottom: 25px;
    left: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
    background-color: black;
    font-size: 0.5rem;
}

main .row input{
    background-color: #666666;
    border-radius: 1px;
}

.maturity-btn{
    background-color: #333333;
    padding: 5px 10px;
}