main{
    background-color: white;
}

header{
    background-color: #141414;
}

.prof-pic{
    height: 3rem;
}

.hd{
    border: 1px solid black;
    border-radius: 5px;
}

p, h3, .div-m{
    margin: 5px 0;
}