body{
    background-color: #141414;
}

main section .row{
    overflow: hidden;
    scroll-behavior: smooth;
}

main section img{
    height: 150px;
    transition: scale 250ms;
    position: relative;
}

main section img:hover{
    scale: 1.05;
    z-index: 1;
}

#logo, #avatar{
    height: 3rem;
}

.section-drop{
    display: none;
    background-color: transparent;
    color: white;
}

nav select option{
    background-color: rgb(31, 31, 31);
}

nav select option:hover{
    background-color: whitesmoke;
    color: rgb(31, 31, 31);
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 1rem;
}

section .row:hover{
    cursor: grab;
}

section .container-fluid i{
    color: white;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 50%;
    transition: transform 250ms;
}

section .container-fluid i:hover{
    transform: scale(1.1);
}

.left-arr{
    left: 0;
}

.right-arr{
    right: 0;
}

@media screen and (max-width: 760px){
    .section-drop{
        display: inline;
    }

    nav ul, .kids, i.fa-bell{
        display: none;
    }
}

@media screen and (max-width: 385px){
    footer a{
        margin: 5px 0;
        font-size: 0.8rem;
    }
}