body{
    margin: 0px;
}

section{
    /*width: 350px;
    height: 500px;*/
    height: 100vh;  
    width: 100vw;
    background-color: #071115;
    position: relative;
}

/*TASTIERA*/

button{
    border: 0px;
    font-family: 'Jost', sans-serif;
    border-radius: 100%;
    height: 5em;
    width: 5em;
    transition: all 200ms ease;
}

.operatore{
    background-color: #2e1f39;
    color: #aa00a4;
}

.numero{
    background-color: #1b2f38;
    color: #f8fafb;
}

.tastiera{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    place-items: center;
}

.tastieraContainer{
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.equals{
    background-color: rgba(64, 224, 208, 0.884);
}

.cancOp{
    background-color: #2d191e;
    color: #bd3740;
}

.operatore2{
    background-color: teal;
}

/*DISPLAY NUMERI*/

.dispContainer{
    height: 35%;
}

.display{
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    font-family: 'Jost', sans-serif;
}

.dispGrande{
    font-weight: bolder;
    height: 1em;
    font-size: 4em;
    color: #f8fafd;
}

.dispPiccolo{
    font-size: 1.5em;
    color: #f8fafd80;
}

.display:focus{
    outline: none;
}