body{
    background-color: #666666;
    font-family: 'Indie Flower', cursive;
}

h3{
    font-weight: bold;
    font-size: 3em;
}

p{
    font-size: 2em;
}

.lavagna{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.postit{
    width: 250px;
    height: 225px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease;
}

.postit:hover{
    transform: scale(1.2);
    rotate: (0);
}

.yellow{
    background: rgb(179,180,34);
    background: linear-gradient(0deg, rgba(179,180,34,1) 0%, rgba(250,255,175,1) 100%);
    transform: rotate(-5deg);
}

.lilla{
    background: rgb(138,140,153);
    background: linear-gradient(0deg, rgba(138,140,153,1) 0%, rgba(203,202,246,1) 100%);
    transform: rotate(-15deg);
}

.green{
    background: rgb(158,182,160);
    background: linear-gradient(0deg, rgba(158,182,160,1) 0%, rgba(202,252,203,1) 100%);
    transform: rotate(10deg);
}

.first{
    animation: attach 0.5s ease-in 0.1s backwards;
}

.sec{
    animation: attach 0.5s ease-in 0.5s backwards;
}

.third{
    animation: attach 0.5s ease-in 1s backwards;
}

.fourth{
    animation: attach 0.5s ease-in 1.5s backwards;
}

.fifth{
    animation: attach 0.5s ease-in 2s backwards;
}

.sixth{
    animation: attach 0.5s ease-in 2.5s backwards;
}

.sev{
    animation: attach 0.5s ease-in 3s backwards;
}

.eight{
    animation: attach 0.5s ease-in 3.5s backwards;
}

@keyframes attach {
    0%{
        opacity: 0;
        transform: scale(5, 5);
        z-index: 1;
    }

    100%{
        transform: scale(1, 1);
        opacity: 1;
        z-index: 1;
    }
}