body{
    font-family: Arial, Helvetica, sans-serif;
    color: #8b2a00;
    padding: 10px;
}

h1{
    font-size: 1.6em;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

h2{
    font-size: 1.4em;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}

.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 576px){
    .cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1100px){
    body{
        display: flex;
    }
    
    header{
        flex: 1;
    }

    main{
        flex: 4;
    }

    nav{
        height: 100vh;
        position: fixed;
    }

    nav ul{
        flex-direction: column;
    }

    #first-c{
        order: 2;
        flex-direction: column;
        width: 100%;
    }

    #last-c{
        order: 3;
        flex-direction: column;
        width: 100%;
    }

    nav li{
        width: 100%;
        box-sizing: border-box;
        height: 80px;
        margin-bottom: 20px;
    }

    .art{
        flex-direction: column-reverse;
    }
}