div{
  display: flex;
}

input{
  padding: 5px 10px;
}

input::placeholder{
  font-family: 'Jost', sans-serif;
}

button{
  color: white;
  background-color: rgb(75, 132, 229);
  border: 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  width: 2rem;
}

button i{
  font-size: 1rem;
}
