div{
  display: flex;
}

input{
  padding: 5px 10px;
  border: 1px solid rgb(179, 179, 179);
  border-right: 0;
  font-size: 1.5rem;
}

input:focus{
  outline: 0;
  border: 1px solid rgb(75, 132, 229);
  border-right: 0;
}

input::placeholder{
  font-family: 'Jost', sans-serif;
}

button{
  color: white;
  background-color: rgb(75, 132, 229);
  border: 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  width: 2.3rem;
  transition: all 150ms;
}

button:hover{
  scale: 1.1;
  border-radius: 3px;
}

button i{
  font-size: 1.2rem;
}
