body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    background-color: #FFC017;
    position: relative;
    padding: 100px 60px;
}

.svg-cont{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

nav{
    padding: 20px 60px;
    background-color: #FFC017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
    gap: 20px;
    transition: background-color 0.8s ease;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.headings{
    /*padding: 100px 60px;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.headings button{
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 1.2em;
    padding: 7px 35px;
}

nav a{
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 1.2em;
    padding: 7px 15px;
    display: block;
}

h1{
    font-size: 6em;
    font-family: 'Spectral', serif;
}

header h2{
    font-size: 2em;
}

/*MAIN*/

/*ARTICOLI*/
#articles{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

#header-trend{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#trend>div h5{
    font-weight: bold;
    font-size: 1.2em;
}

.art{
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.dim{
    width: 300px;
}

.art h4{
    font-size: 2em;
    color: rgba(158, 158, 158, 0.356);
    font-weight: bold;
}

.art h5{
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.3em;
}

.art-h{
    display: flex;
    align-items: center;
    gap: 10px;
}

.art img{
    border-radius: 50%;
    height: 1em;
}

.art-name{
    font-weight: bold;
}

.art-time{
    color: gray;
}

#trend{
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 20px 60px;
}

/*SECONDA PARTE MAIN*/
.art-list h3{
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.art-list p{
    color: gray;
    margin-bottom: 10px
}

.art-aside{
    padding: 20px 60px;
    display: flex;
    gap: 6em;
}

#var-art{
    flex: 2;
}

.art-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.art-footer>div{
    display: flex;
    align-items: center;
}

.art-list{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.art-list>div{
    flex: 1;
    min-width: 50px;
}

.art-aside-img{
    height: 130px;
}

.art-time a{
    color: gray;
    background-color: rgb(228, 228, 228);
    padding: 5px;
    border-radius: 25px;
}

/*ASIDE*/
aside{
    flex: 1;
    position: sticky;
    top: 90px;
    align-self: flex-start;
}

aside h3{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

aside a{
    color: gray;
    padding: 5px 8px;
}

.topic{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
}

.topic-cont{
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 25px;
}

.info-cont{
    padding-top: 25px;
}

.topic-cont, .info-cont{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 903px){
    .art-aside{
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 2em;
    }

    aside{
        position: static;
        align-self: stretch;
    }

    #svg-cont{
        right: -250px;
    }

}

@media screen and (max-width: 552px){
    #m-svg{
        display: none;
    }

    nav ul li:not(#start, #sign){
        display: none;
    }

    .art-aside-img{
        height: 90px;
    }

    header{
        padding: 100px 10px;
    }

    header .svg-cont{
        display: none;
    }

    h1{
        font-size: 5em;
    }

    .art-aside, nav, #trend{
        padding: 20px 10px;
    }

    .art-list h3{
        font-size: 1.2em;
    }

    .art-list p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.9em;
    }

    .art-time{
        font-size: 0.6em;
    }
}