a{
    text-decoration: none;
}

/*HEADER*/
nav{
    padding: 20px 60px;
    background-color: #FFC017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin: 0 10px;
}

.headings{
    padding: 90px 60px;
    background-color: #FFC017;
    position: relative;
}

.headings button{
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 1.2em;
    padding: 7px 35px;
}

nav a{
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 1.2em;
    padding: 7px 15px;
}

h1{
    font-size: 6em;
    margin-bottom: 20px;
}

header h2{
    font-size: 2em;
    margin-bottom: 20px;
}

#m-svg{
    width: 100% !important;
    height: 100% !important;
}

#svg-cont{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%
}

/*MAIN*/

/*ARTICOLI*/
#articles{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

#trend>div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#trend>div h5{
    font-weight: bold;
    font-size: 1.2em;
}

.art{
    display: flex;
    flex-grow: 1;
    width: 300px;
    gap: 10px;
}

.art h4{
    font-size: 2em;
    color: rgba(158, 158, 158, 0.356);
    font-weight: bold;
}

.art h5{
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.3em;
}

.art-h{
    display: flex;
    align-items: center;
    gap: 10px;
}

.art img{
    border-radius: 50%;
    height: 1em;
}

.art-name{
    font-weight: bold;
}

.art-time{
    color: gray;
}

#trend{
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 20px 60px;
}

/*SECONDA PARTE MAIN*/
.art-list h3{
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.art-list p{
    color: gray;
    margin-bottom: 10px
}

.art-aside{
    padding: 20px 60px;
    display: flex;
    gap: 6em;
}

#var-art{
    flex: 2;
}

aside{
    flex: 1;
    position: sticky;
    top: 30px;
}

.art-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.art-footer>div{
    display: flex;
    align-items: center;
}

.art-list{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.art-list>div{
    flex: 1;
}

.art-aside-img{
    height: 130px;
}

.art-time a{
    color: gray;
    background-color: rgb(228, 228, 228);
    padding: 5px;
    border-radius: 25px;
}

/*ASIDE*/
aside h3{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

aside a{
    color: gray;
    padding: 5px 8px;
}

.topic{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
}

.topic-cont{
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 25px;
}

.info-cont{
    padding-top: 25px;
}

.topic-cont, .info-cont{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}